<!-- _skills_section.html -->

<div class="mb-0">
    <div class="d-flex align-items-center mb-4">
        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">{{ section_title }}</span></h3>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-4">
        {% for item in items %}
            <div class="col mb-4 mb-md-0">
                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{ item.name }}</div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row row-cols-1 row-cols-md-3 mb-4">
            {% endif %}
        {% endfor %}
    </div>
</div>
